<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="developed col-lg-3">Developed by <a href="https://www.linkedin.com/in/argiris-anastasakis" target="_blank">Argiris</a></div>
      <div class="footer-social col-lg-3">
        <a href="https://www.facebook.com/kairoshaiku2.0" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/kairoshaiku" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</footer>