<div class="social-icons d-flex justify-content-between">
  <a href="https://www.facebook.com/kairoshaiku2.0" target="_blank"><i class="fab fa-facebook-f"></i></a>
  <a href="https://www.instagram.com/kairoshaiku" target="_blank"><i class="fab fa-instagram"></i></a>
</div>
<div class="developed">Developed by <a href="https://www.linkedin.com/in/argiris-anastasakis" target="_blank">Argiris</a></div>