<div class="developed col-lg-3 col-sm-12">Developed by <a href="https://www.linkedin.com/in/argiris-anastasakis" target="_blank">Argiris</a></div>
<div class="footer-social col-lg-3 col-sm-12">
  <a href="https://www.facebook.com/kairoshaiku2.0" target="_blank"><i class="fab fa-facebook-f"></i></a>
  <a href="https://www.instagram.com/kairoshaiku" target="_blank"><i class="fab fa-instagram"></i></a>
</div>