<main class="home-main-content">
  <div class="container-fluid">
    <div class="row page landing-page">
      <div class="col-6 coming-soon">
        coming <br>
        soon
      </div>
      <div class="col-6 logo">
        <%= image_tag("logo.png") %>
      </div>
    </div>
    <div class="row page">
      <div class="col-9">
      </div>
      <div class="col-3">
        <%= render partial: "info_text" %>
        <%= render partial: "shared/footer" %>
      </div>
    </div>
  </div>
</main>