<main class="home-main-content">
  <div class="container">
    <div class="row landing-page">
      <div class="col-6">
        coming <br>
        soon
      </div>
      <div class="col-6">
        <%= image_tag("logo.png") %>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
      </div>
      <div class="col-3">
        <%= render partial: "info_text" %>
        <%= render partial: "shared/footer" %>
      </div>
    </div>
  </div>
</main>