<main class="home-main-content">
  <div class="container">
    <h1 class="home-title">Καιρός Χαϊκού 2.0</h1>
    <div class="home-text">
      <span class="home-soon">COMING</span>
      <span class="home-soon">SOON</span>
      <span class="home-tuned">STAY TUNED!</span>
    </div>
  </div>
</main>