<main class="home-main-content">
  <div class="container-fluid">
    <div class="row page no-gutters landing-page">
      <div class="col-md-6 col-sm-12 coming-soon">
        coming <br>
        soon
      </div>
      <div class="col-md-2 offset-md-4 col-sm-12 logo">
        <%= image_tag("logo.png") %>
      </div>
    </div>
    <div class="row no-gutters text-page page">
      <div class="col-md-2 offset-md-10 col-sm-12">
        <%= render partial: "info_text" %>
        <%= render partial: "shared/footer" %>
      </div>
    </div>
  </div>
</main>