@import "bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

@font-face {
  font-family: 'Source_Sans_Regural';
  src: url('SourceSansPro-Regular.ttf');
}

body {
  font-family: "Source_Sans_Regural";
  color: #292929;
  background-color: #f1f1f1;
}

.container-fluid {
  width: 100%;
  height: auto;
  position: relative;
}

.container-fluid img {
  width: 100%;
  height: 100%;
}

.info-text img {
  width: 105%;
}

.landing-page {
  height: 100vh;
}

.page {
  display: flex;
  padding: 6%;
}

.coming-soon {
  align-self: flex-end;
  font-size: 80px;
  line-height: 50px;
  font-weight: bold;
}

.logo {
  height: 100%;
}

.info-text {
  &::after {
    position: absolute;
    content: "";
    height: 85%;
    top: 3%;
    width: 10px;
    right: -25px;
    background-color: #ec1c21;
  }
}

.social-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
  margin-bottom: 20%;
}

a {
  color: #4D3726;
}

.fa-instagram, .fa-facebook-f {
  background: black;
  color: white;
  width: 40px !important;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 20%;
  margin-top: 10%
}

.developed {
  align-self: flex-end;
  font-size: 22px;
  margin-left: 15px;
}

@media screen and (max-width: 560px) {

  .container-fluid img {
    width:60%;
    height:auto;
  }

  .info-text img {
    width: 40%;
  }

  .text-page {
    margin-top: 15%;
  }

  .coming-soon {
    font-size: 56px;
    line-height: 45px;
  }
  
  .landing-page {
    display: flex;
    flex-flow: column-reverse;
    height: 94vh;
  }

  .info-text {
    &::after {
      width: 6px;
      right: 40%;
    }
  }

  .social-icons {
    width: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 0px;
  }

  .developed {
    margin-left: 0px;
    font-size: 19px;
  }
}